.editCarMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editCar-leftContent {
  flex: 1;
  max-width: 50%;
  margin: 20px;
  min-width: 300px;
}

.editCar-rightContent {
  flex: 1;
  max-width: 50%;
  min-width: 300px;
}
