.createCarsMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.createCars-leftContent {
  flex: 1;
  max-width: 50%;
  margin: 20px;
  min-width: 300px;
}

.createCars-rightContent {
  flex: 1;
  max-width: 50%;
  min-width: 300px;
}

.createCarsText {
  text-align: center;
}
